<div class="card">
    <div class="card-header d-flex flex-column align-items-center p-4">
        <h5 class="card-title">Sign In</h5>
        <h6 class="card-subtitle">Two-Factor Authentication</h6>
    </div>
    <div class="card-body">
        <div *ngIf="message" class="alert alert-primary" role="alert">
            {{message}}
        </div>
        <form [formGroup]="totpForm">
            <div class="input mb-3">
                <label class="mb-2">Enter 6-digit code from your authenticator application</label>
                <div class="d-flex justify-content-center">
                    <input type="tel" autofocus class="form-control small-input" formControlName="totp_digit1"
                        id="pincode-1" maxlength="1" tabindex="1" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit1')" (keyup)="moveToNextElement('totp_digit1','pincode-2')">
                    <input type="tel" class="form-control small-input" formControlName="totp_digit2" id="pincode-2"
                        maxlength="1" pattern="[\d]*" tabindex="2" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit2')" (keyup)="moveToNextElement('totp_digit2','pincode-3')">
                    <input type="tel" class="form-control small-input" formControlName="totp_digit3" id="pincode-3"
                        maxlength="1" pattern="[\d]*" tabindex="3" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit3')" (keyup)="moveToNextElement('totp_digit3','pincode-4')">
                    <input type="tel" class="form-control small-input" formControlName="totp_digit4" id="pincode-4"
                        maxlength="1" pattern="[\d]*" tabindex="4" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit4')" (keyup)="moveToNextElement('totp_digit4','pincode-5')">
                    <input type="tel" class="form-control small-input" formControlName="totp_digit5" id="pincode-5"
                        maxlength="1" pattern="[\d]*" tabindex="5" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit5')" (keyup)="moveToNextElement('totp_digit5','pincode-6')">
                    <input type="tel" class="form-control small-input" formControlName="totp_digit6" id="pincode-6"
                        maxlength="1" pattern="[\d]*" tabindex="6" placeholder="·" autocomplete="off"
                        (keydown)="clearValue('totp_digit6')">
                </div>
            </div>
            <div class="d-flex justify-content-center p-2">
                <button type="button" [disabled]="!totpForm.valid" class="btn btn-primary"
                    (click)="verifyTOTP()">Submit</button>
            </div>
        </form>

    </div>
    <div class="card-footer d-flex justify-content-center p-4">
        <a href="#" class="card-link">Use different form of authentication</a>
    </div>
</div>